<% include layouts/header %>
       <link rel="stylesheet" type="text/css" href="/css/campus-headlines.css"/>
		<div id="section1">
			<div class="row">
				<div class="col-md-4 pull-left">
					<a href="index.html" style="color: #333333;text-decoration: none;"><h4 class="title"><i></i>校园头条</h4></a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center" style="line-height: 33px;">浙大获浙江省工业大奖特别贡献奖</h3>
				</div>
			</div>
			<div class="row" style="max-width: 670px;margin: 0 auto;background: #E2E2E2;">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-8">
							<h3><span>管理员</span>2016-11-02：浏览数<span>344</span></h3>
						</div>
						<div class="col-md-4">
							<h3>分类：<span>校园头条</span></h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 class="text" style="padding-top: 66px;">10月26日召开的“2016浙江省企业领袖峰会”上，第二届浙江省工业大奖悉数颁出。浙江大学获得唯一“第二届浙江省工业大奖特别贡献奖”，是唯一入选省工业大奖的高校单位。</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 class="text">浙江省工业大奖是经省政府同意支持的全省工业领域的最高奖项，由浙江省工业经济联合会、浙江省企业联合会、浙江省企业家协会等“三会”共同评奖授奖。该奖倡导浙江省工业界落实省委省政府的决策部署，主动适应经济发展新常态，全力推进创新驱动发展。</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 class="text" style="padding-bottom: 300px;">首届工业大奖于2014年10月颁出，今年是该奖评选的第二届。共评出工业大奖金奖8个，银奖9个，特别贡献奖一个。浙大是唯一入选的高校单位，以表彰浙江大学在服务浙江工业经济，以科技创新引领浙江经济转型发展作出的卓越贡献，副校长严建华代表学校领奖，冯飞副省长代表省政府向严建华副校长颁发奖牌。</h4>
				</div>
			</div>
			<div class="row" style="max-width: 900px;margin: 0 auto;padding-top: 40px;border-top: 4px solid #CCCCCC;padding-bottom: 56px;border-bottom: 4px solid #E7E7E7;">
				<div class="col-md-12">
					<textarea></textarea>
				</div>
				<div class="row">
					<div class="col-md-12">
						<i class="expression"></i>
						<h4 style="display: inline-block;font-size: 20px;color: #838383;">表情</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button type="button" class="btn btn-primary pull-right btn-lg" style="padding: 12px 32px;margin-right: 15px;">发布</button>
					</div>
				</div>
			</div>
		</div>
<% include layouts/footer %>