<% include layouts/header %>

	<!-- 引入css文件 -->
	<link rel="stylesheet" type="text/css" href="/css/weiketang.css">


	<div class="bill container center-block">
		<img class="img-responsive" src="/imgs/wktbanner.png">
	</div>
	<!-- 整个导航菜单部分 -->
	<div class="templet1 container center-block">
		<div class="templet1-1 container">
			<div class="list"><h4>所有课程分类</h4></div>
			<ul>
				<li class="list-style"><a href="javascript:;" class="text-info">设计、</a><a href="#">IT软件</a><i><img src="/imgs/jiaojiao.png" class="img-responsive"></i>
					<div class="hover-block">1</div>
				</li>
				<div class="hr1"></div>
				<li><a href="javascript:;">求职、</a><a href="javascript:;">职场、</a><a href="javascript:;">办公软件</a><i><img src="/imgs/jiaojiao.png" class="img-responsive"></i>
					<div class="hover-block">2</div>
				</li>
				
				<li><a href="javascript:;">英语、</a><a href="javascript:;">日语、</a><a href="javascript:;" class="text-info">韩语、</a><a href="javascript:;">法语</a><i><img src="/imgs/jiaojiao.png" class="img-responsive"></i>
					<div class="hover-block">3</div>
				</li>
			
				<li><a href="javascript:;">营销、</a><a href="javascript:;">理财、</a><a href="javascript:;">专业技能</a><i><img src="/imgs/jiaojiao.png" class="img-responsive"></i>
					<div class="hover-block">4</div>
				</li>
			
				<li><a href="javascript:;" class="text-info">营销、</a><a href="javascript:;">理财、</a><a href="javascript:;" class="text-info">建造师</a><i><img src="/imgs/jiaojiao.png" class="img-responsive"></i>
					<div class="hover-block">5</div>
				</li>
			
				<li><a href="javascript:;">高考、</a><a href="javascript:;">中考、</a><a href="javascript:;">小升初</a><i><img src="/imgs/jiaojiao.png" class="img-responsive"></i>
					<div class="hover-block">6</div>
				</li>
		
				<li><a href="javascript:;" class="text-info">考研、</a><a href="javascript:;">四六级、</a><a href="javascript:;">计算机考试</a><i><img src="/imgs/jiaojiao.png" class="img-responsive"></i>
					<div class="hover-block">7</div>
				</li>
				
				<li><a href="javascript:;">雅思、</a><a href="javascript:;">托福、</a><a href="javascript:;">留学指导</a><i><img src="/imgs/jiaojiao.png" class="img-responsive"></i>
					<div class="hover-block">8</div>
				</li>
			
				<li><a href="javascript:;">生活、</a><a href="javascript:;">文化、</a><a href="javascript:;">兴趣</a><i><img src="/imgs/jiaojiao.png" class="img-responsive"></i>
					<div class="hover-block">9</div>
				</li>
				
				<li><a href="javascript:;">学术、</a><a href="javascript:;">TED、</a><a href="javascript:;">名校公开课</a><i><img src="/imgs/jiaojiao.png" class="img-responsive"></i>
					<div class="hover-block">10</div>
				</li>
			</ul>
		</div>
		<div class="templet1-2 container ">
			<img class="img-responsive " src="/imgs/img-wkt-1.png">
		</div>
		<div class="container templet1-3">
			<div class="container templet1-3-1">
				<img src="/imgs/img-wkt-2.png" class="img-responsive">
			</div>
			<div class="container templet1-3-2">
				<img class="img-responsive"src="/imgs/img-wkt-3.png">
			</div>
			<div class="container templet1-3-3">
				<img class="img-responsive"src="/imgs/img-wkt-4.png">
			</div>
		</div>
		<div class="container templet1-4 ">
			<div class="templet1-4-1 container">
				<div class="field"></div>
				<p class="templet1-4-1-title list-inline inline-block">发现</p>
			</div>

			<a href="javascript:;" class="online-word">
				<img src="/imgs/img-wkt-5.png" class="online-dictionary img-responsive">
				<div class="word row">
					<h4>Python词典</h4>
					<p>最权威的Python在线词典 </p>
				</div>
			</a>
			
			<a href="javascript:;" class="online-word">
				<img src="/imgs/img-wkt-6.png" class="online-dictionary img-responsive">
				<div class="word row">
					<h4>淘宝美工实战就业班</h4>
					<p>从零到一,对淘宝店铺进行全方位的立体讲解</p>
				</div>
			</a>
		<a href="javascript:;" class="online-word online-word-2">
				<img src="/imgs/img-wkt-7.png" class="online-dictionary img-responsive">
				<div class="word row">
					<h4>新课速递</h4>
					<p>最新课程抢先看</p>
				</div>
			</a>
		</div>

	</div>
	<!-- 猜你喜欢 -->
	<div class="title1 container">
		<div class="respect"></div>
		<span class="guess">猜你喜欢</span>
		<a href="javascript:;" class="change">
			<img class="changeimg"src="/imgs/icon-wkt-1.png">
			<span>换一批</span>
		</a>
	</div>
	
	<div class="row templet2">
			<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-8.png" alt="">
					<div class="caption">
						<p>零基础学英语 读准字母音标</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
			</a>
			<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-9.png" alt="">
					<div class="caption">
						<p>如何把女友拍的更漂亮</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
			</a>
			<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-10.png" alt="">
					<div class="caption">
						<p>三个小时，读懂财报</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
			</a>
			<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-11.png" alt="">
					<div class="caption">
						<p>英语四级针对16年考试15年</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
			</a>
	</div>
	<!-- 课程选项卡 -->
	<div class="container course">
		
		<ul class="course-onclick nav nav-tabs">
			<li class="active">
				<a  data-toggle="tab"href="#index">
					<div class="respect"></div>
					<span class="move">精品课程</span>
				</a>
			</li>
			
			<li><a data-toggle="tab" href="#biancheng"><span class="move">编程语言</span></a></li>
			<li><a data-toggle="tab" href="#tool"><span class="move">工具软件</span></a></li>
			<li><a data-toggle="tab" href="#lang"><span class="move">外语学习</span></a></li>
			<li><a data-toggle="tab" href="#zhiye"><span class="move">职业资格</span></a></li>
			<a href="javascript:;" class="change" style="margin-top:20px;">
			
			<span>更多</span>
		</a>
		</ul>


		<!-- 呈现选项卡中的内容 -->
		<div class="chose tab-content ">
			<div class="choose tab-pane  fade in active" id="index">
				<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-12.png" alt="">
					<div class="caption">
						<p>飞童亿佳儿童美术绘画300</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
				</a>
				<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-13.png" alt="">
					<div class="caption">
						<p>【免费试听】UI设计高级全面</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
				</a>
				<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-14.png" alt="">
					<div class="caption">
						<p>2017年9月计算机二级ms</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
				</a>
				<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-15.png" alt="">
					<div class="caption">
						<p>【51CTO学院】Tensorflo</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
				</a>
			</div>
			<div class="choose tab-pane  fade" id="biancheng">
				<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-13.png" alt="">
					<div class="caption">
						<p>【免费试听】UI设计高级全面</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
				</a>
				<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-13.png" alt="">
					<div class="caption">
						<p>【免费试听】UI设计高级全面</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
				</a>
				<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-13.png" alt="">
					<div class="caption">
						<p>【免费试听】UI设计高级全面</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
				</a>
				<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-13.png" alt="">
					<div class="caption">
						<p>【免费试听】UI设计高级全面</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
				</a>
			</div>
			<div class="choose tab-pane  fade" id="tool">
				<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-14.png" alt="">
					<div class="caption">
						<p>2017年9月计算机二级ms</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
				</a>
				<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-15.png" alt="">
					<div class="caption">
						<p>2017年9月计算机二级ms</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
				</a>
				<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-15.png" alt="">
					<div class="caption">
						<p>2017年9月计算机二级ms</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
				</a>
				<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-15.png" alt="">
					<div class="caption">
						<p>2017年9月计算机二级ms</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
				</a>
			</div>
			<div class="choose tab-pane  fade" id="lang">
				<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-12.png" alt="">
					<div class="caption">
						<p>【51CTO学院】Tensorflo</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
				</a>
				<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-12.png" alt="">
					<div class="caption">
						<p>【51CTO学院】Tensorflo</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
				</a>
				<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-12.png" alt="">
					<div class="caption">
						<p>【51CTO学院】Tensorflo</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
				</a>
				<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-12.png" alt="">
					<div class="caption">
						<p>【51CTO学院】Tensorflo</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
				</a>
			</div>
			<div class="choose tab-pane  fade" id="zhiye">
				<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-12.png" alt="">
					<div class="caption">
						<p>飞童亿佳儿童美术绘画300</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
				</a>
				<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-12.png" alt="">
					<div class="caption">
						<p>飞童亿佳儿童美术绘画300</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
				</a>
				<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-12.png" alt="">
					<div class="caption">
						<p>飞童亿佳儿童美术绘画300</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
				</a>
				<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-12.png" alt="">
					<div class="caption">
						<p>飞童亿佳儿童美术绘画300</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
				</a>
			</div>
		</div>
	</div>
	<!-- 免费好课 -->
	<div class="title1 container">
		<div class="respect"></div>
		<span class="guess">免费好课</span>
		<a href="javascript:;" class="change">
			
			<span>更多</span>
		</a>
	</div>
	
	<div class="row templet2">
			<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-16.png" alt="">
					<div class="caption">
						<p>【限免】UX设计说-几分钟</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
			</a>
			<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-17.png" alt="">
					<div class="caption">
						<p>零基础入门直达流利口语</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
			</a>
			<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-18.png" alt="">
					<div class="caption">
						<p>冯注龙的零基础Excel教程</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
			</a>
			<a href="javascript:;" class="shangpin1 col-md-3">
				<div  class="thumbnail" >
					<img  src="/imgs/img-wkt-19.png" alt="">
					<div class="caption">
						<p>零基础学好C#核心语法</p>
						<span class="free">免费</span><span class="number">36.8万人次学习</span>
						
					</div>
				</div>
			</a>
	</div>
	<!-- IT选项卡 -->
	<div class="container course">
		
		<ul class="course-onclick nav nav-tabs">
			<li class="active">
				<a  data-toggle="tab" href="#it">
					<div class="respect"></div>
					<span class="move">IT/互联网/技能</span>
				</a>
			</li>
			
			<li><a data-toggle="tab" href="#bianc"><span class="move">编程</span></a></li>
			<li><a data-toggle="tab" href="#plan"><span class="move">设计</span></a></li>
			<li><a data-toggle="tab" href="#develop"><span class="move">移动开发</span></a></li>
			
			<a href="#" class="change" style="margin-top:20px;">
			
			<span>更多</span>
			</a>
		</ul>


		<!-- 呈现选项卡中的内容 -->
		<div class="chose tab-content ">
			<div class="choose2 tab-pane  fade in active" id="it">
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-20.png">
					<h4 class="text-h4">如何系统的自学 python？</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-21.png">
					<h4 class="text-h4">如何系统的自学 python？</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-22.png">
					<h4 class="text-h4">安卓开发经典案例【甲骨文】</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-23.png">
					<h4 class="text-h4">从入门到精通玩转安卓</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
			</div>
			<div class="choose2 tab-pane  fade " id="bianc">
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-21.png">
					<h4 class="text-h4">如何系统的自学 python？</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-21.png">
					<h4 class="text-h4">如何系统的自学 python？</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-21.png">
					<h4 class="text-h4">安卓开发经典案例【甲骨文】</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-21.png">
					<h4 class="text-h4">从入门到精通玩转安卓</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
			</div>
			<div class="choose2 tab-pane  fade " id="plan">
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-22.png">
					<h4 class="text-h4">如何系统的自学 python？</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-22.png">
					<h4 class="text-h4">如何系统的自学 python？</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-22.png">
					<h4 class="text-h4">安卓开发经典案例【甲骨文】</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-22.png">
					<h4 class="text-h4">从入门到精通玩转安卓</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
			</div>
			<div class="choose2 tab-pane  fade" id="develop">
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-23.png">
					<h4 class="text-h4">如何系统的自学 python？</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-23.png">
					<h4 class="text-h4">如何系统的自学 python？</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-23.png">
					<h4 class="text-h4">安卓开发经典案例【甲骨文】</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-23.png">
					<h4 class="text-h4">从入门到精通玩转安卓</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
			</div>
		</div>
	</div>
	<!--职场选项卡 -->
	<div class="container course">
		
		<ul class="course-onclick nav nav-tabs">
			<li class="active">
				<a  data-toggle="tab" href="#worker">
					<div class="respect"></div>
					<span class="move">职场/理财/外语</span>
				</a>
			</li>
			
			<li><a data-toggle="tab" href="#offic"><span class="move">办公软件</span></a></li>
			<li><a data-toggle="tab" href="#audition"><span class="move">求职面试</span></a></li>
			<li><a data-toggle="tab" href="#foreign"><span class="move">外语技能</span></a></li>
			
			<a href="javascript:;" class="change" style="margin-top:20px;">
			
			<span>更多</span>
			</a>
		</ul>


		<!-- 呈现选项卡中的内容 -->
		<div class="chose tab-content ">
			<div class="choose2 tab-pane  fade in active" id="worker">
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-24.png">
					<h4 class="text-h4">你离升职加薪只差一个沟通的距离 </h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-25.png">
					<h4 class="text-h4">大神带你看美剧练听说读写</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-26.png">
					<h4 class="text-h4">神教学：女神经教你WPS</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-27.png">
					<h4 class="text-h4">【王佩丰】Excel2010系列视频教程</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
			</div>
			<div class="choose2 tab-pane  fade " id="offic">
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-21.png">
					<h4 class="text-h4">如何系统的自学 python？</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-21.png">
					<h4 class="text-h4">如何系统的自学 python？</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-21.png">
					<h4 class="text-h4">安卓开发经典案例【甲骨文】</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-21.png">
					<h4 class="text-h4">从入门到精通玩转安卓</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
			</div>
			<div class="choose2 tab-pane  fade " id="audition">
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-22.png">
					<h4 class="text-h4">如何系统的自学 python？</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-22.png">
					<h4 class="text-h4">如何系统的自学 python？</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-22.png">
					<h4 class="text-h4">安卓开发经典案例【甲骨文】</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-22.png">
					<h4 class="text-h4">从入门到精通玩转安卓</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
			</div>
			<div class="choose2 tab-pane  fade" id="foreign">
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-23.png">
					<h4 class="text-h4">你离升职加薪只差一个沟通的距离</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-23.png">
					<h4 class="text-h4">你离升职加薪只差一个沟通的距离</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-23.png">
					<h4 class="text-h4">你离升职加薪只差一个沟通的距离</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-23.png">
					<h4 class="text-h4">你离升职加薪只差一个沟通的距离</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
			</div>
		</div>
	</div>
	<!-- 考试选项卡 -->
	<div class="container course">
		
		<ul class="course-onclick nav nav-tabs">
			<li class="active">
				<a  data-toggle="tab" href="#exam">
					<div class="respect"></div>
					<span class="move">考试/考级/考证</span>
				</a>
			</li>
			
			<li><a data-toggle="tab" href="#monetary"><span class="move">财会金融</span></a></li>
			<li><a data-toggle="tab" href="#British"><span class="move">英语入门</span></a></li>
			<li><a data-toggle="tab" href="#hotitem"><span class="move">热门考试</span></a></li>
			
			<a href="#" class="change" style="margin-top:20px;">
			
			<span>更多</span>
			</a>
		</ul>


		<!-- 呈现选项卡中的内容 -->
		<div class="chose tab-content ">
			<div class="choose2 tab-pane  fade in active" id="exam">
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-28.png">
					<h4 class="text-h4">雅思托福写作十大加分点 </h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-29.png">
					<h4 class="text-h4">银行从业资格中级风险管理课程</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-30.png">
					<h4 class="text-h4">会计从业资格考试微课堂财经法规</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-31.png">
					<h4 class="text-h4">【王佩丰】透析GMAT语法</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
			</div>
			<div class="choose2 tab-pane  fade " id="monetary">
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-21.png">
					<h4 class="text-h4">如何系统的自学 python？</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-21.png">
					<h4 class="text-h4">如何系统的自学 python？</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-21.png">
					<h4 class="text-h4">安卓开发经典案例【甲骨文】</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-21.png">
					<h4 class="text-h4">从入门到精通玩转安卓</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
			</div>
			<div class="choose2 tab-pane  fade " id="British">
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-22.png">
					<h4 class="text-h4">如何系统的自学 python？</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-22.png">
					<h4 class="text-h4">如何系统的自学 python？</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-22.png">
					<h4 class="text-h4">安卓开发经典案例【甲骨文】</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-22.png">
					<h4 class="text-h4">从入门到精通玩转安卓</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
			</div>
			<div class="choose2 tab-pane  fade" id="hotitem">
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-23.png">
					<h4 class="text-h4">你离升职加薪只差一个沟通的距离</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-23.png">
					<h4 class="text-h4">你离升职加薪只差一个沟通的距离</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-23.png">
					<h4 class="text-h4">你离升职加薪只差一个沟通的距离</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-23.png">
					<h4 class="text-h4">你离升职加薪只差一个沟通的距离</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
			</div>
		</div>
	</div>
	<!-- 生活文化兴趣选项卡 -->
	<div class="container course">
		
		<ul class="course-onclick nav nav-tabs">
			<li class="active">
				<a  data-toggle="tab" href="#life">
					<div class="respect"></div>
					<span class="move">生活/文化/兴趣</span>
				</a>
			</li>
			
			<li><a data-toggle="tab" href="#photograph"><span class="move">摄影</span></a></li>
			<li><a data-toggle="tab" href="#star"><span class="move">星座</span></a></li>
			<li><a data-toggle="tab" href="#skill"><span class="move">生活技巧</span></a></li>
			
			<a href="#" class="change" style="margin-top:20px;">
			
			<span>更多</span>
			</a>
		</ul>


		<!-- 呈现选项卡中的内容 -->
		<div class="chose tab-content ">
			<div class="choose2 tab-pane  fade in active" id="life">
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-32.png">
					<h4 class="text-h4">素描零基础视频教程素描入门免费..</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-33.png">
					<h4 class="text-h4">少儿国学堂《三字经》(一) </h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-34.png">
					<h4 class="text-h4">硬笔书法系列，学写一手好字 </h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-35.png">
					<h4 class="text-h4">色彩搭配、穿衣打扮公开课</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
			</div>
			<div class="choose2 tab-pane  fade " id="photograph">
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-21.png">
					<h4 class="text-h4">如何系统的自学 python？</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-21.png">
					<h4 class="text-h4">如何系统的自学 python？</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-21.png">
					<h4 class="text-h4">安卓开发经典案例【甲骨文】</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-21.png">
					<h4 class="text-h4">从入门到精通玩转安卓</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
			</div>
			<div class="choose2 tab-pane  fade " id="star">
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-22.png">
					<h4 class="text-h4">如何系统的自学 python？</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-22.png">
					<h4 class="text-h4">如何系统的自学 python？</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-22.png">
					<h4 class="text-h4">安卓开发经典案例【甲骨文】</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-22.png">
					<h4 class="text-h4">从入门到精通玩转安卓</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
			</div>
			<div class="choose2 tab-pane  fade" id="skill">
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-23.png">
					<h4 class="text-h4">你离升职加薪只差一个沟通的距离</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-23.png">
					<h4 class="text-h4">你离升职加薪只差一个沟通的距离</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-23.png">
					<h4 class="text-h4">你离升职加薪只差一个沟通的距离</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
				<a href="javascript:;" class="shangpin2 col-md-6">
					<img class="img-place" src="/imgs/img-wkt-23.png">
					<h4 class="text-h4">你离升职加薪只差一个沟通的距离</h4>	
					<span class="class-time"><img src="/imgs/icon-wkt-3.png" alt="">3课时</span><span class="number">36.8万人次学习</span>
					<span class="forfree">免费</span>
				</a>
				
			</div>
		</div>
		<!-- 最受关注的学校 -->
	
		<div class="title1 container">
			<div class="respect"></div>
			<span class="guess">最受关注的学校</span>
			<a href="javascript:;" class="change">
				<img class="changeimg"src="/imgs/icon-wkt-1.png">
				<span>换一批</span>
			</a>
			<div class="hr2"></div>
			<ul class="school">
				<a href="javascript:;">
					<li>
						<img class="school-img" src="/imgs/img-wkt-36.png">
						<h5 class="text-center">大地经纬</h5>
					</li>
				</a>
				<a href="javascript:;">
					<li>
						<img class="school-img" src="/imgs/img-wkt-37.png">
						<h5 class="text-center">谢明波语文网课</h5>
					</li>
				</a>
				<a href="javascript:;">
					<li>
						<img class="school-img" src="/imgs/img-wkt-38.png">
						<h5 class="text-center">蓝迈政治课堂</h5>
					</li>
				</a>
				<a href="javascript:;">
					<li>
						<img class="school-img" src="/imgs/img-wkt-39.png">
						<h5 class="text-center">职坐标</h5>
					</li>
				</a>
				<a href="javascript:;">
					<li>
						<img class="school-img" src="/imgs/img-wkt-40.png">
						<h5 class="text-center">火星人教育</h5>
					</li>
				</a>
				<a href="javascript:;">
					<li>
						<img class="school-img" src="/imgs/img-wkt-41.png">
						<h5 class="text-center">汇众教育</h5>
					</li>
				</a>
				<a href="javascript:;">
					<li>
						<img class="school-img" src="/imgs/img-wkt-42.png">
						<h5 class="text-center">一路行</h5>
					</li>
				</a>
				<a href="javascript:;">
					<li>
						<img class="school-img" src="/imgs/img-wkt-43.png">
						<h5 class="text-center">黄冈99</h5>
					</li>
				</a>
				<a href="javascript:;">
					<li>
						<img class="school-img" src="/imgs/img-wkt-44.png">
						<h5 class="text-center">赢在职场</h5>
					</li>
				</a>
			</ul>
		</div>

	</div>

<% include layouts/footer %>