<% include layouts/header %>
    <link rel="stylesheet" href="/css/create.css">
  
	<!-- 微创业选项卡开始 -->
	<div id="container-a" class="container">
		<nav class="navbar">
			<ul id="headernav" class="nav navbar-nav nav-pills headernav-a">
				<li class="active"><a data-toggle="tab"href=".container-intro">微创简介</a></li>
				<li><a data-toggle="tab"href=".container-famous">名人堂</a></li>
				<li><a data-toggle="tab"href=".container-want">我要创业</a></li>
				<li><a data-toggle="tab"href=".container-refer">微创咨询</a></li>
			</ul> 
		</nav>
		
		 <!-- 选项卡的内容样式  -->
		<div class="content">
			<!-- 微创简介内容开始 -->
			<div class="container-intro fade in active tab-pane">
				<div class="intro-img">
					<img src="./imgs/wkt01.png" alt="">
				</div>
				<div class="intro-bg">
					<img src="./imgs/Rectangle 3 Copy.png" alt="">
				</div>
				<div class="intro-bag">
					<img src="./imgs/intro.png" alt="">
				</div>
				<div class="intro-back">
					<img src="./imgs/xiaokuai.jpg " alt=" ">
				</div>
				<div class="intro-background">
					<img src="./imgs/Bitmap@2x.png" alt="">
				</div>
				<div class="intro-content">
					<h4>微创业简介</h4>
					<h6>we not only offer jobs but help you realize your dreams</h5>
					<p>微创行是由全国的1600所高校的在校大学生，学术界人士和企业界领袖组成为全国性组织，每年为全世界超过60,000名大学生热情和力量带来了积极的影响，为大学生提供了一个发展个人专业技能良好环境，通过参与和运作微创行的项目，可以提升自身良好的商业技能和领导能力，这也是世界众多顶尖公司把微创行视为重要商业人才资源库的原因</p>
					 <button type="button" class="btn btn-primary button-intro">一键加入</button>
				</div>
			</div>
			<!-- 微创简介内容结束 -->

			<!-- 名人堂简介内容开始 -->
			<div class="container-famous tab-pane fade">
				<div class="famous-img">
					<img src="./imgs/wkt01.png" alt="">
				</div>
				<div class="famous-bg">
					<img src="./imgs/Rectangle 3 Copy.png" alt="">
					<div class="famous-block">	
						<img src="./imgs/Rectangle 11.png" alt="">
						<div class="famous-wenzi">
							<div class="famous-line">
							</div>
							<p class="mingshi">名人讲师</p>
							<div class="famous-lina">
							</div>
							<p class="famous-weishi">
								微识校园公司副总裁王怀强
							</p>
						</div>
						<div class="famous-tuxiang">
							<img src="./imgs/wkt02.jpg" alt="">
							<div class="jieshao">
								<img src="./imgs/jieshao.png" alt="">
							</div>
							 <button type="button" class="btn btn-primary button-more">了解更多</button>
						</div>
						<div class="famous-jingli">
							<img src="./imgs/jingli.png" alt="">
							 <button type="button" class="btn btn-primary button-m">了解更多</button>
						</div>	
						<div class="tuxiang">
							<img src="./imgs/wkt02.jpg" alt="">

						</div>
						<div class="famous-shipin">
							<img src="./imgs/wkt03.png" alt="">
							<p>当前浏览器下,视频若不能正常播放,请安装flash插件或更换浏览器</p>
							<img class="shipin" src="./imgs/shipin.png" alt="">
						</div>
						<div class=wangqi>
							<img src="./imgs/mingren.png" alt="">
						</div>
					</div>

				</div>
			</div>
			<!-- 名人堂简介内容结束 -->

			<!-- 我要创业简介内容开始 -->
			<div class="container-want tab-pane fade">
				<div class="intro-img">
					<img src="./imgs/banner.png" alt="">
				</div>
				<div class="want-bg">
					<img src="./imgs/Rectangle 3 Copy.png" alt="">
				</div>	
			</div>
			<!-- 我要创业简介内容结束 -->

			<!-- 微创咨询简介内容开始 -->
			<div class="container-refer tab-pane fade">
				<div class="refer-bg">
					<img src="./imgs/Rectangle 3 Copy.png" alt="">
				</div>
				<div class="refer-a">
					<div class="refer-b">
						<img src="./imgs/head img01@2x.png" alt="">
					</div>
					<h2>微识客服-小微</h2>
					<h6>人工客服上班时间: 8:00-20:00</h6>
				</div>
				<div class="refer-c">
					<img src="./imgs/Rectangle 11.png" alt="">
					<h6>15:13:11</h6>
				</div>
				<div class="refer-d">
					<img src="./imgs/logo@2x.png" alt="">
					<div class="kuang">
						<h6>hi，我是微识的小微，很高兴为您服务!</h6>
					</div>
				</div>
				<div class="refer-right">
					<h4>热点问题</h4>
					<div class="line">
						<div class="line-a"></div>
					</div>
					<h6>1.创业需要准备什么材料吗?</h6>
					<h6>2.创业前期我需要投入多少资金?</h6>
					<h6>3.创业期间的步骤是什么呢?</h6>
				</div>
				<div class="refer-e">
					<img src="./imgs/Rectangle 11.png" alt="">
					<h5>您好，创业前我需要准备什么？</h5>
					<button type="button" class="btn btn-primary button-refer">发送</button>
				</div>
			</div>
			<!-- 微创咨询简介内容结束 -->
			
		</div>
	</div>
	<!-- 微创业选项卡结束 -->
	<script src="/js/create.js"></script>
<% include layouts/footer %>