<% include layouts/header %>

   	<link rel="stylesheet" type="text/css" href="/css/index.css"/>
   		<!-- 移动设备优先 -->
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no">
	<!-- 使低版本的浏览器尽量以最高的形式解释文档 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<div id="section">
		<div class="row">
			<div class="col-md-9">
				<div id="publish">
					<div class="row m-val">
					    <div class="col-md-1">
					    	<a class="h-img" href="javascript:;">
					    		<img src="/imgs/tou3.png"/>
					    	</a>
					    </div>
					    <div class="col-md-11">
					    	<div class=" p-textarea">
					    		<h5 style="padding-top: 10px;margin-top: 0;">有什么新鲜事物告诉大家?</h5>
					    		<textarea></textarea>
					    		<div class="row">
					    			<div class="col-md-10">
					    				<ul class="icon">
					    					<li>
					    						<a href="javascript:;" class="picture"><i class="img a1"></i>图片</a>
					    					</li>
					    					<li>
					    						<a href="javascript:;" class="quote"><i class="img a2"></i>引用</a>
					    					</li>
					    					<li>
					    						<a href="javascript:;" class="link"><i class="img a3"></i>链接</a>
					    					</li>
					    					<li>
					    						<a href="javascript:;" class="title"><i class="img a4"></i>话题</a>
					    					</li>
					    					<li>
					    						<a href="javascript:;" class="audio"><i class="img a5"></i>音频</a>
					    					</li>
					    					<li>
					    						<a href="javascript:;" class="video"><i class="img a6"></i>视频</a>
					    					</li>
					    					<li>
					    						<a href="javascript:;" style="font-size: 30px;">…</a>
					    					</li>
					    				</ul>
					    			</div>
					    			<div class="col-md-2">
					    				<div class="post btn btn-default">
					    					帖子<i class=""></i>
					    				</div>
					    			</div>
					    		</div>
					    	</div>
					    </div>
					</div>
					<div class="row m-val close4">
					    <div class="col-md-1"></div>
					    <div class="col-md-11">
					    	<div class="notice">
					    		<div class="notice-t">
					    			<div class="row">
							    		<div class="col-md-2 pull-left">
							    			<h5>通知</h5>
							    		</div>
							    		<div class="col-md-2 pull-right">
							    			<button type="button" class="close" aria-label="Close">
							    				<span aria-hidden="true" class="close">&times;</span>
							    			</button>
							    		</div>
							    	</div>
					    		</div>
					    		<div class="row">
					    			<div class="col-md-12">
					    				<a href="javascript:;" style="display: block;background: #FFFFFF;">
						    				<div class="row"  style="padding-top:8px;">
						    					<div class="col-md-1">
						    						<img class="pull-right" src="/imgs/tou5.png"/>
						    					</div>
						    					<div class="col-md-10">
						    						<h5>岆娆哋歔沩  发起了话题:我要上榜单,帮我做任务...</h5>
						    					</div>
						    					<div class="col-md-1">
						    						<img src="/imgs/img-1.png"/>
						    					</div>
						    				</div>
						    				<div class="row">
						    					<div class="col-md-1">
						    						<img class="pull-right" src="/imgs/tou6.png" style="vertical-align: middle;"/>
						    					</div>
						    					<div class="col-md-10">
						    						<h5>包包包子铺！发起了话题：英雄联盟约起来！</h5>
						    					</div>
						    					<div class="col-md-1">
						    						<img src="/imgs/img-2.png" style="vertical-align: middle;"/>
						    					</div>
						    				</div>
					    				</a>
					    			</div>	
					    		</div>
					    	</div>
					    	
					    </div>
					</div>
				</div>
			  	
				<div id="show">
					<div class="row m-val close1">
					    <div class="col-md-1">
					    	<a class="h-img" href="javascript:;">
					    		<img src="/imgs/tou4.png"/>
					    	</a>
					    </div>
					    <div class="col-md-11">
					    	<div class="show-post">
					    		<div class="row">
						    		<div class="col-md-10 pull-left">
						    			<h5 class="user">Terry</h5>
						    			<h5 class="follow">关注</h5>
						    		</div>
						    		<div class="col-md-2 pull-right" style="text-align: right;">
						    			<i class="share"></i>
						    			<i class="close"></i>
						    		</div>
						    	</div> 
						    	<div class="row">
						    		<div class="col-md-12">
						    			<img src="/imgs/img-3.png"/>
						    		</div>
						    	</div> 
						    	<div class="row" style="border-bottom: 1px solid #f1f1f1;">
						    		<div class="col-md-12">
						    			<p>今天突然就被放了假✨</p>
						    			<p>进度10%</p>
						    			<p>终于完成了一张，或许会发素材🤓</p>
						    			<p>一直想尝试水墨元素，希望不会太丑吧……</p>
						    		</div>
						    	</div>
						    	<div class="row label">
						    		<div class="col-md-1">
						    			<i class="label"></i>
						    		</div>
						    		<div class="col-md-11">
						    			<span>每日一涂</span>
						    			<span>绘画</span>
						    		</div>
						    	</div>
						    	<div class="row">
						    		<div class="col-md-8">
						    			<h5>1,149热度</h5>
						    		</div>
						    		<div class="col-md-4">
						    			<ul class="show-icon">
						    				<li class="b1"></li>
						    				<li class="b2"></li>
						    				<li class="b3"></li>
						    				<li class="b4"></li>
						    			</ul>
						    		</div>
						    	</div>
					    	</div>
					    </div>
					</div>
					<div class="row m-val close2">
						<div class="col-md-1">
							<a class="h-img" href="javascript:;">
					    		<img src="/imgs/tou3.png"/>
					    	</a>
						</div>
						<div class="col-md-11">
							<div class="show-post">
					    		<div class="row">
						    		<div class="col-md-10 pull-left">
						    			<h5 class="user">秋槿兮er</h5>
						    			<h5 class="follow">关注</h5>
						    		</div>
						    		<div class="col-md-2 pull-right" style="text-align: right;">
						    			<i class="share"></i>
						    			<i class="close"></i>
						    		</div>
						    	</div>
						    	<div class="row">
						    		<div class="col-md-4" style="font-size: 0;">
						    			<img src="/imgs/img-5.png"/>
						    		</div>
						    		<div class="col-md-4" style="font-size: 0;">
						    			<img src="/imgs/img-6.png"/>
						    		</div>
						    		<div class="col-md-4" style="font-size: 0;">
						    			<img src="/imgs/img-7.png"/>
						    		</div>
						    	</div>
						    	<div class="row">
						    		<div class="col-md-6" style="font-size: 0;">
						    			<img src="/imgs/img-8.png"/>
						    		</div>
						    		<div class="col-md-6" style="font-size: 0;">
						    			<img src="/imgs/img-9.png"/>
						    		</div>
						    	</div>
						    	<div class="row">
						    		<div class="col-md-4" style="font-size: 0;">
						    			<img src="/imgs/img-10.png"/>
						    		</div>
						    		<div class="col-md-4" style="font-size: 0;">
						    			<img src="/imgs/img-11.png"/>
						    		</div>
						    		<div class="col-md-4" style="font-size: 0;">
						    			<img src="/imgs/img-12.png"/>
						    		</div>
						    	</div>
						    	<div class="row label">
						    		<div class="col-md-1">
						    			<i class="label"></i>
						    		</div>
						    		<div class="col-md-11">
						    			<span>风景</span>
						    			<span>摄影</span>
						    		</div>
						    	</div>
						    	<div class="row">
						    		<div class="col-md-8">
						    			<h5>918热度</h5>
						    		</div>
						    		<div class="col-md-4">
						    			<ul class="show-icon">
						    				<li class="b1"></li>
						    				<li class="b2"></li>
						    				<li class="b3"></li>
						    				<li class="b4"></li>
						    			</ul>
						    		</div>
						    	</div>
					    	</div>
						</div>
					</div>
					<div class="row m-val close3">
						<div class="col-md-1">
							<a class="h-img" href="javascript:;">
					    		<img src="/imgs/tou4.png"/>
					    	</a>
						</div>
						<div class="col-md-11">
							<div class="show-post">
					    		<div class="row">
						    		<div class="col-md-10 pull-left">
						    			<h5 class="user">蓝星天宇</h5>
						    			<h5 class="follow">关注</h5>
						    		</div>
						    		<div class="col-md-2 pull-right" style="text-align: right;">
						    			<i class="share"></i>
						    			<i class="close"></i>
						    		</div>
						    	</div>
						    	<div class="row">
						    		<div class="col-md-12">
						    			<img src="/imgs/img-13.png"/>
						    		</div>
						    	</div>
						    	<div class="row" style="border-bottom: 1px solid #f1f1f1;">
						    		<div class="col-md-12">
						    			<p>蓝星天宇：如今的互联网分享精神的确改变了不少，主要是受到全球以及局部经济下滑的影响，人们对知识产权的保护意识逐渐完善乃至加强，不过也有更多其他的不可描述“玩法”，再加上分级制度的缺失与文化脱节等因素影响，人们对现实的环境感到不安分甚至于不安全，粗制滥造的假影视/音乐文化和愚民思想的冲击，给予人们更加极端的认知传达乃至仇恨的积怨，进而使人们缺少了对事物的客观认知与分析，老百姓忙于劳苦奔波、养家糊口便很少拥有时间去体会真实的美好以及做到与人为善的分享和传播与众同乐的精神。对于用户隐私安全的保护，说实在的企业与个人皆任重而道远，可以承认的是我们做的很不好。</p>
										<p>wish： 你认为今后网络会怎样改变生活？</p>
										<p>蓝星天宇：未来的网络，倘若我们不再“与世隔绝”的话，兴许还真的可以方便所有人的工作、生活以及文娱等各个领域。自媒体时代的到来，可以说是人类文明进步的重要里程碑之一，自由创造价值、自由改变未来，一切都向往着全局美好的方向去发展、去进步。客观真实，化繁为简。</p>
						    		</div>
						    	</div>
						    	<div class="row label">
						    		<div class="col-md-1">
						    			<i class="label"></i>
						    		</div>
						    		<div class="col-md-11">
						    			<span>话题</span>
						    			<span>网络</span>
						    		</div>
						    	</div>
						    	<div class="row">
						    		<div class="col-md-8">
						    			<h5>2,345热度</h5>
						    		</div>
						    		<div class="col-md-4">
						    			<ul class="show-icon">
						    				<li class="b1"></li>
						    				<li class="b2"></li>
						    				<li class="b3"></li>
						    				<li class="b4"></li>
						    			</ul>
						    		</div>
						    	</div>
					    	</div>
						</div>
					</div>
				</div>
			</div>
			
			<div id="right">
				<div class="col-md-3">
					<div class="row m-val">
						<div class="col-md-12 ">
							<table class="table">
						      <thead>
						        <tr>
						          <td>
						          	<h4>岆娆哋歔沩</h4>
						          	<h5>yaoraodixuwei.wish.cor</h5>
						          </td>
						        </tr>
						      </thead>
						      <tbody>
						        <tr>
						          <td>
						          	<a href="javascript:;">
						          		<i class="c1"></i>
						          		<h4>帖子</h4>
						          	</a>
						          </td>
						          <td></td>
						          <td>0</td>
						        </tr>
						        <tr>
						          <td>
						          	<a href="javascript:;">
						          		<i class="c2"></i>
						          		<h4>关注</h4>
						          	</a>
						          </td>
						          <td></td>
						          <td>0</td>
						        </tr>
						        <tr>
						          <td>
						          	<a href="javascript:;">
						          		<i class="c3"></i>
						          		<h4>粉丝</h4>
						          	</a>
						          </td>
						          <td></td>
						          <td>0</td>
						        </tr>
						        <tr>
						          <td>
						          	<a href="javascript:;">
						          		<i class="c4"></i>
						          		<h4>私信</h4>
						          	</a>
						          </td>
						          <td></td>
						          <td>0</td>
						        </tr>
						        <tr>
						          <td style="width: 100%;">
						          	<a href="javascript:;">个人主页设置</a>
						          </td>
						          <td></td>
						          <td></td>
						        </tr>
						      </tbody>
						    </table> 
							
						</div>
					</div>
					<div class="row m-val">
						<div class="col-md-12">
							<table class="table">
						      <thead style="box-shadow: none;">
						        <tr>
						          <td>
						          	<a href="/campusheadlines?tab=campusheadlines" style="text-decoration: none; color: #333333;"><h4>校园头条</h4></a>
						          	<h5>实时掌控各大高校最新动态</h5>
						          </td>
						        </tr>
						      </thead>
						      <tbody class="headlines">
						        <tr>
						          <td>
						          	<a href="javascript:;">
						          		<h6>浙江斩获青年互联网创业…</h6>
						          	</a>
						          </td>
						          <td></td>
						          <td>
						          	<h6 class="school">浙江大学</h6>
						          </td>
						        </tr>
						        <tr>
						          <td>
						          	<a href="javascript:;">
						          		<h6>学校举行“青年之声”我与…</h6>
						          	</a>
						          </td>
						          <td></td>
						          <td>
						          	<h6 class="school">浙江大学</h6>
						          </td>
						        </tr>
						        <tr>
						          <td>
						          	<a href="javascript:;">
						          		<h6>我校闻音合唱团参加G20…</h6>
						          	</a>
						          </td>
						          <td></td>
						          <td>
						          	<h6 class="school">杭州大学</h6>
						          </td>
						        </tr>
						        <tr>
						          <td>
						          	<a href="javascript:;">
						          		<h6>甘肃省双联行动领导小组…</h6>
						          	</a>
						          </td>
						          <td></td>
						          <td>
						          	<h6 class="school">西北大学</h6>
						          </td>
						        </tr>
						        <tr>
						          <td>
						          	<a href="javascript:;">
						          		<h6>浙江斩获青年互联网创业…</h6>
						          	</a>
						          </td>
						          <td></td>
						          <td>
						          	<h6 class="school">浙江大学</h6>
						          </td>
						        </tr>
						        <tr>
						          <td>
						          	<a href="javascript:;">
						          		<h6>广西医科大学河池市校友…</h6>
						          	</a>
						          </td>
						          <td></td>
						          <td>
						          	<h6 class="school">广西大学</h6>
						          </td>
						        </tr>
						        <tr>
						          <td>
						          	<a href="javascript:;">
						          		<h6>暑假社会实践工作---法学…</h6>
						          	</a>
						          </td>
						          <td></td>
						          <td>
						          	<h6 class="school">宁波大学</h6>
						          </td>
						        </tr>
						        <tr>
						          <td>
						          	<a href="javascript:;">
						          		<h6>“浙江省大学生化学竞赛”…</h6>
						          	</a>
						          </td>
						          <td></td>
						          <td>
						          	<h6 class="school">浙江学院</h6>
						          </td>
						        </tr>
						        <tr>
						          <td></td>
						          <td></td>
						          <td>
						          	<a href="campus-headlines-2.html">&gt;更多</a>
						          </td>
						        </tr>
						      </tbody>
						    </table> 
						</div>
					</div>
					<div class="push">
						<div class="row m-val">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-12">
										<h4 style="border-bottom: 1px solid #dedede;padding-bottom: 10px;">热度推送</h4>
									</div>
								</div>
								<div class="row">
									<div class="col-md-9">
										<img src="/imgs/img01@2x.png" class="pull-left"/>
										<h4 class="pull-left" style="margin-bottom: 0;">animals-lovers</h4>
										<h5 class="pull-left">生活因你而精彩</h5>
									</div>
									<div class="col-md-3">
										<a href="javascript:;"></a>
									</div>
								</div>
								<div class="push-img">
									<div class="row">
										<div class="col-md-12">
											<img src="/imgs/img-4.png" style="width: 100%;"/>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<h5>1,957热度</h5>
										</div>
										<div class="col-md-6">
											<ul class="push-icon">
							    				<li class="d1"></li>
							    				<li class="d2 b4"></li>
							    			</ul>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	
	<!--图片弹层-->
	<div id="picture">
		<div class="modal fade one" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header" style="border-bottom: 2px dashed #E5E5E5;">
		        <h4 class="modal-title" id="gridSystemModalLabel">图片</h4>
		      </div>
		      <div class="modal-body h-p">
		        <div class="row">
		          <div class="col-md-6">
		          	<a class="pic-box h-bor">
		          		<i></i>
		          		<span>上传照片</span>
		          	</a>
		          </div>
		          <div class="col-md-6">
		          	<a class="int-box">
		          		<i></i>
		          		<span>从网络添加图片</span>
		          	</a>
		          </div>
		        </div>
		      </div>
		      <div class="modal-footer" style="border-top: 2px dashed #E5E5E5;">
		        <button type="button" class="btn btn-default pull-left gb" data-dismiss="modal">关闭</button>
		        <button type="button" class="btn btn-primary">发帖</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
	<!--图片弹层-->
	
	<!--引用弹层-->
	<div id="quote">
		<div class="modal fade two" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header" style="border-bottom: 2px dashed #E5E5E5;">
		        <h4 class="modal-title" id="gridSystemModalLabel">引用</h4>
		      </div>
		      <div class="modal-body h-p">
		        
		      </div>
		      <div class="modal-footer" style="border-top: 2px dashed #E5E5E5;">
		        <button type="button" class="btn btn-default pull-left gb" data-dismiss="modal">关闭</button>
		        <button type="button" class="btn btn-primary">发帖</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
	<!--引用弹层-->
	
	<!--链接弹层-->
	<div id="link">
		<div class="modal fade three" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header" style="border-bottom: 2px dashed #E5E5E5;">
		        <h4 class="modal-title" id="gridSystemModalLabel">链接</h4>
		      </div>
		      <div class="modal-body h-p">
		        
		      </div>
		      <div class="modal-footer" style="border-top: 2px dashed #E5E5E5;">
		        <button type="button" class="btn btn-default pull-left gb" data-dismiss="modal">关闭</button>
		        <button type="button" class="btn btn-primary">发帖</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
	<!--链接弹层-->
	
	<!--话题弹层-->
	<div id="title">
		<div class="modal fade four" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header" style="border-bottom: 2px dashed #E5E5E5;">
		        <h4 class="modal-title" id="gridSystemModalLabel">话题</h4>
		      </div>
		      <div class="modal-body h-p">
		        
		      </div>
		      <div class="modal-footer" style="border-top: 2px dashed #E5E5E5;">
		        <button type="button" class="btn btn-default pull-left gb" data-dismiss="modal">关闭</button>
		        <button type="button" class="btn btn-primary">发帖</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
	<!--话题弹层-->
	
	<!--音频弹层-->
	<div id="audio">
		<div class="modal fade five" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header" style="border-bottom: 2px dashed #E5E5E5;">
		        <h4 class="modal-title" id="gridSystemModalLabel">音频</h4>
		      </div>
		      <div class="modal-body h-p">
		        
		      </div>
		      <div class="modal-footer" style="border-top: 2px dashed #E5E5E5;">
		        <button type="button" class="btn btn-default pull-left gb" data-dismiss="modal">关闭</button>
		        <button type="button" class="btn btn-primary">发帖</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
	<!--音频弹层-->
	
	<!--视频弹层-->
	<div id="video">
		<div class="modal fade six" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header" style="border-bottom: 2px dashed #E5E5E5;">
		        <h4 class="modal-title" id="gridSystemModalLabel">视频</h4>
		      </div>
		      <div class="modal-body h-p">
		        <div class="row">
		          <div class="col-md-6">
		          	<a class="pic-box h-bor">
		          		<i class="shipin"></i>
		          		<span>上传视频</span>
		          	</a>
		          </div>
		          <div class="col-md-6">
		          	<a class="int-box">
		          		<i></i>
		          		<span>从网络添加图片</span>
		          	</a>
		          </div>
		        </div>
		      </div>
		      <div class="modal-footer" style="border-top: 2px dashed #E5E5E5;">
		        <button type="button" class="btn btn-default pull-left gb" data-dismiss="modal">关闭</button>
		        <button type="button" class="btn btn-primary">发帖</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>
	<!--视频弹层-->
	<script type="text/javascript" src="js/index.js" ></script>


<% include layouts/footer %>