<% include layouts/header %>

<div id="intro">
	 <a href="javascript:;"><img src="/imgs/app-img01.png" alt=""></a>
	 <a href="javascript:;"><img src="/imgs/app-img02.png" alt=""></a>
	 <a href="javascript:;"><img src="/imgs/app-img03.png" alt=""></a>
	 <a href="javascript:;"><img src="/imgs/app-img04.png" alt=""></a>
</div>

<% include layouts/footer %>