<% include layouts/header %>

	<script src="/js/more.js"></script>
	<link rel="stylesheet" href="/css/more.css">

    <!-- 这里是身体部分 -->
	<div class="zszwc">
		<div class="rmqyxz">
			<!-- 这里是热门企业校招部分 -->
			<div class="rmqyxz_1">
				<h4>热门企业校招</h3>
				<p><a href="javascript:void(0);" onclick="js_method()">更多</a></p>
			</div>
			
			<!-- 清除浮动 -->
			<div class="qcfd"></div>

			<div class="rmqyxz_2">
				<ul>
					<li><a href="javascript:void(0);" onclick="js_method()"><img src="/imgs/2017-10-07_145717.png" alt=""></a></li>
					<li><a href="javascript:void(0);" onclick="js_method()">北京自如生活资产管</a></li>
					<li class="rmqyxz_2_tbs">44个在招职位</li>
				</ul>
				<ul>
					<li><a href="javascript:void(0);" onclick="js_method()"><img src="/imgs/2017-10-07_1522531.png" alt=""></a></li>
					<li><a href="javascript:void(0);" onclick="js_method()">网信集团</a></li>
					<li class="rmqyxz_2_tbs">54个在招职位</li>
				</ul>
				<ul>
					<li><a href="javascript:void(0);" onclick="js_method()"><img src="/imgs/2017-10-07_152426.png" alt=""></a></li>
					<li><a href="javascript:void(0);" onclick="js_method()">康明斯(中国)投资有限公司</a></li>
					<li class="rmqyxz_2_tbs">33个在招职位</li>
				</ul>
				<ul>
					<li><a href="javascript:void(0);" onclick="js_method()"><img src="/imgs/2017-10-07_152443.png" alt=""></a></li>
					<li><a href="javascript:void(0);" onclick="js_method()">博世中国</a></li>
					<li class="rmqyxz_2_tbs">192个在招职位</li>
				</ul>
				<ul>
					<li><a href="javascript:void(0);" onclick="js_method()"><img src="/imgs/2017-10-07_152459.png" alt=""></a></li>
					<li><a href="javascript:void(0);" onclick="js_method()">新城控股</a></li>
					<li class="rmqyxz_2_tbs">0个在招职位</li>
				</ul>
				<ul>
					<li><a href="javascript:void(0);" onclick="js_method()"><img src="/imgs/2017-10-07_152512.png" alt=""></a></li>
					<li><a href="javascript:void(0);" onclick="js_method()">北京搜狗科技发展有限公司</a></li>
					<li class="rmqyxz_2_tbs">44个在招职位</li>
				</ul>
			</div>
			
			<!-- 模块化设计 -->
			<div class="shuaxuan">
				<!-- 这里是一个空白块 -->
				<div class="shuaix"></div>	

				<!-- 这里是帅选文字块 -->
				<div class="shuaix_1">
					<ol class="shuaix_z1">
						<h4>筛选</h4>
						<li>行业详情</li>
						<div>
							<input type="text">
							<a href="javascript:void(0);" onclick="js_method()"><img src="/imgs/2017-10-07_160236.png" alt=""></a>
						</div>
					</ol>
					<!-- 全局清除浮动 -->
					<div class="qcfd"></div>

					<!-- 这里设置一个收起和展开的div -->
					<div class="sqzs">
					<ul>
						<h4>工作城市</h4>
						<li><a href="javascript:void(0);" onclick="js_method()">不限</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">北京</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">广州</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">上海</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">深圳</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">南京</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">杭州</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">成都</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">西安</a></li>
						<li class="cvczczc"><a href="javascript:void(0);" onclick="js_method()">更多∨</a></li>
					</ul>
					<ul>
						<h4>项目进度</h4>
						<li><a href="javascript:void(0);" onclick="js_method()">不限</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">网申即将结束</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">即将网申</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">即将笔试</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()"></a></li>
					</ul>
					<ul>
						<h4>相关专业</h4>
						<li><a href="javascript:void(0);" onclick="js_method()">不限</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">财务管理相关类</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">计算机相关类</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">金融相关类</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">机械相关类</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">英语相关类</a></li>
						<li class="cvczczc"><a href="javascript:void(0);" onclick="js_method()">更多∨</a></li>
					</ul>
					<ul>
						<h4>所属行业</h4>
						<li><a href="javascript:void(0);" onclick="js_method()">不限</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">银行</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">计算机软件</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">保险</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">游戏/动漫</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">旅游</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">互联网</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">法律</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">在线教育</a></li>
						<li class="cvczczc"><a href="javascript:void(0);" onclick="js_method()">更多∨</a></li>
					</ul>
					<ul>
						<h4>学历要求</h4>
						<li><a href="javascript:void(0);" onclick="js_method()">不限</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">本科</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">专科</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">硕士研究生</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">博士研究生</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">其它</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">更多∨</a></li>
					</ul>
					<ul>
						<h4>校招类型</h4>
						<li><a href="javascript:void(0);" onclick="js_method()">不限</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()">实习</a></li>
						<li><a href="javascript:void(0);" onclick="js_method()"></a></li>
					</ul>
					</div>
					
					<br>
					<br>
					<p id="sqzs_dj">收起∧</p>

				</div>
	
	
			</div>
		</div>
		<!-- 这里是当前的校招项目 -->
		<div class="xzxm_z2">
			<h4>共13451个校招项目</h4>
		</div>
		<div class="xzxm">
			<div class="qcfd"></div>
			<!-- 下面是模块群 -->
			<div class="xzxm_z1">
				<div>
					<img src="/imgs/2017-10-08_122144.png" alt="">
				</div>
				<ul>
					<h5>米哈游2018秋季招聘</h5>
					<li>网申时间<p>09月15日-10月15日</p></li>
					<li>专业要求<p>计算机相关类 网络工程相关类信息工程相关类通信工程相关类</p></li>
					<li>工作地点<p>上海</p></li>
				</ul>
				<div>
					<p>09-13发布</p>
					<button><a href="/more1?tab=more1" onclick="js_method()">立即申请</a></button>
				</div>
			</div>
			<div class="xzxm_z1">
				<div>
					<img src="/imgs/2017-10-08_122159.png" alt="">
				</div>
				<ul>
					<h5>米哈游2018秋季招聘</h5>
					<li>网申时间<p>09月15日-10月15日</p></li>
					<li>专业要求<p>计算机相关类 网络工程相关类信息工程相关类通信工程相关类</p></li>
					<li>工作地点<p>上海</p></li>
				</ul>
				<div>
					<p>09-13发布</p>
					<button><a href="/more1?tab=more1" onclick="js_method()">立即申请</a></button>
				</div>
			</div>
			<div class="xzxm_z1">
				<div>
					<img src="/imgs/2017-10-08_122211.png" alt="">
				</div>
				<ul>
					<h5>米哈游2018秋季招聘</h5>
					<li>网申时间<p>09月15日-10月15日</p></li>
					<li>专业要求<p>计算机相关类 网络工程相关类信息工程相关类通信工程相关类</p></li>
					<li>工作地点<p>上海</p></li>
				</ul>
				<div>
					<p>09-13发布</p>
					<button><a href="/more1?tab=more1" onclick="js_method()">立即申请</a></button>
				</div>
			</div>
			<div class="xzxm_z1">
				<div>
					<img src="/imgs/2017-10-08_122228.png" alt="">
				</div>
				<ul>
					<h5>米哈游2018秋季招聘</h5>
					<li>网申时间<p>09月15日-10月15日</p></li>
					<li>专业要求<p>计算机相关类 网络工程相关类信息工程相关类通信工程相关类</p></li>
					<li>工作地点<p>上海</p></li>
				</ul>
				<div>
					<p>09-13发布</p>
					<button><a href="/more1?tab=more1" onclick="js_method()">立即申请</a></button>
				</div>
			</div>
			<div class="xzxm_z1">
				<div>
					<img src="/imgs/2017-10-08_122238.png" alt="">
				</div>
				<ul>
					<h5>米哈游2018秋季招聘</h5>
					<li>网申时间<p>09月15日-10月15日</p></li>
					<li>专业要求<p>计算机相关类 网络工程相关类信息工程相关类通信工程相关类</p></li>
					<li>工作地点<p>上海</p></li>
				</ul>
				<div>
					<p>09-13发布</p>
					<button><a href="/more1?tab=more1" onclick="js_method()">立即申请</a></button>
				</div>
			</div>
			<div class="xzxm_z1">
				<div>
					<img src="/imgs/2017-10-08_122248.png" alt="">
				</div>
				<ul>
					<h5>米哈游2018秋季招聘</h5>
					<li>网申时间<p>09月15日-10月15日</p></li>
					<li>专业要求<p>计算机相关类 网络工程相关类信息工程相关类通信工程相关类</p></li>
					<li>工作地点<p>上海</p></li>
				</ul>
				<div>
					<p>09-13发布</p>
					<button><a href="/more1?tab=more1" onclick="js_method()">立即申请</a></button>
				</div>
			</div>

			<!-- 尾部 -->
			<div class="weibu">
				<ul>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>...</li>
					<li>67</li>
					<li><</li>
					<li>跳转</li>
				</ul>
			</div>
		</div>
	
	<!-- 这里是请选择行业部分 -->
	<div class="gengduo_xs">
		<h2>&nbsp;请选择城市</h2>
		<button class="gengduo_xdjxs"><img src="/imgs/2017-10-08_202140.png" alt=""></button>
		<div>
			<h4>已选择:</h4>
			<div class="qcfd"></div>
			<div class="gengduo_xs_z1">
				<div>
					<h3>行业大类</h3>
					<div class="xs_z1_z1">
						<p>IT/互联网/通信/电子</p>
						<p>机械/制造/消费/贸易</p>
						<p>汽车/车联网/只能交通</p>
						<p>能源/军工</p>
						<p>金融</p>
						<p>教育培训</p>
						<p>建设工程/房地产/物业管理</p>
						<p>物流/仓储/运输</p>
						<p>医疗/卫生/健康</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						
					</div>
				</div>

				<div>
					<h3>城市小类</h3>
					<div></div>
				</div>
			</div>
		</div>
	</div>
	<div class="gengduo_xs">
		<h2>&nbsp;请选择行业</h2>
		<button class="gengduo_xdjxs"><img src="/imgs/2017-10-08_202140.png" alt=""></button>
		<div>
			<h4>已选择:</h4>
			<div class="qcfd"></div>
			<div class="gengduo_xs_z1">
				<div>
					<h3>行业大类</h3>
					<div class="xs_z1_z1">
						<p>IT/互联网/通信/电子</p>
						<p>机械/制造/消费/贸易</p>
						<p>汽车/车联网/只能交通</p>
						<p>能源/军工</p>
						<p>金融</p>
						<p>教育培训</p>
						<p>建设工程/房地产/物业管理</p>
						<p>物流/仓储/运输</p>
						<p>医疗/卫生/健康</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						
					</div>
				</div>

				<div>
					<h3>行业小类</h3>
					<div></div>
				</div>
			</div>
		</div>
	</div>
	<div class="gengduo_xs">
		<h2>&nbsp;请选择专业</h2>
		<button class="gengduo_xdjxs"><img src="/imgs/2017-10-08_202140.png" alt=""></button>
		<div>
			<h4>已选择:</h4>
			<div class="qcfd"></div>
			<div class="gengduo_xs_z1">
				<div>
					<h3>行业大类</h3>
					<div class="xs_z1_z1">
						<p>IT/互联网/通信/电子</p>
						<p>机械/制造/消费/贸易</p>
						<p>汽车/车联网/只能交通</p>
						<p>能源/军工</p>
						<p>金融</p>
						<p>教育培训</p>
						<p>建设工程/房地产/物业管理</p>
						<p>物流/仓储/运输</p>
						<p>医疗/卫生/健康</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						<p>传媒/广告/公关/文化</p>
						
					</div>
				</div>

				<div>
					<h3>专业小类</h3>
					<div></div>
				</div>
			</div>
		</div>
	</div>

<% include layouts/footer %>