<% include layouts/header %>

		<link rel="stylesheet" href="/css/details.css">

	<script src="/js/details.js"></script>
<!-- 主体开始 -->
	<main> 	
		<!-- 左侧开始 -->
		<div class="main-left">
			<!-- 左侧头开始 -->
			<div class="main-left-top">
				<div class="main-left-top-title">
					<span>
						<img src="/imgs/main-left-top-title(1).png" alt="">
					</span>
					<h4>人文</h4>
					<div>
						<img src="/imgs/main-left-top-title(2).png" alt="">
					</div>
				</div>
				<div class="main-left-top-option">
					<span style="color:#000;font-weight:900;">最新</span>
					<span>热门</span>
					<span>榜单</span>
				</div>
			</div>
			<!-- 左侧头开始 -->


			<!-- 左侧细节开始 -->
			<div class="main-left-particular">
				<div class="main-left-particular-head">
					<a href="javascript:;">
						<img src="/imgs/main-left-particular-head (1).png" alt="">
					</a>
				</div>
				<div class="main-left-particular-angle"></div>
				
				<div class="main-left-particular-details">
					<div class="main-particular-details-top">
						<h4>舒小简</h4>
						<a href="javascript:;">+</a>
					</div>
					<div style="height:200px;" class="main-particular-details-center">
						<div class="main-particular-details-center-left">
							<img src="/imgs/main-particular-details-center-left (1).png" alt="">
						</div>	

						<div class="main-particular-details-center-right">
							<h5>《分道扬镳》</h5>
							<span>摄于四川理塘县长青春科尔寺。</span>
							<p>.................................</p>
							<span style="margin-bottom:0;">看美景听故事，关注小简公众号：地理说（dilishuo）</span>
						</div>	
					</div>
					<div class="main-particular-details-bottom">
							<div>
								<img src="/imgs/main-particular-details-bottom (1).png" alt="">
							</div>
							<ul class="main-particular-details-bottom-cencer">
								<li>记实</li>
								<li>人文</li>
								<li>摄影</li>
							</ul>

							<ul class="main-particular-details-bottom-right">
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (2).png" alt="">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (3).png" alt="">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (4).png" alt="">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (5).png" alt="">
									</a>
								</li>
							</ul>
					</div>
				</div>
			</div>
			<div class="main-left-particular">
				<div class="main-left-particular-head">
					<a href="javascript:;">
						<img src="/imgs/main-left-particular-head (2).png" alt="">
					</a>
				</div>
				<div class="main-left-particular-angle"></div>
				
				<div class="main-left-particular-details">
					<div class="main-particular-details-top">
						<h4>无双·FoPoTo</h4>
						<a href="javascript:;">+</a>
					</div>
					<div style="height:305px;" class="main-particular-details-center">
						<div class="main-particular-details-center-left">
							<img src="/imgs/main-particular-details-center-left (2).png" alt="">
						</div>	

						<div class="main-particular-details-center-right">
							<h5>年宝圣地</h5>
						</div>	
					</div>
					<div class="main-particular-details-bottom">
							<div>
								<img src="/imgs/main-particular-details-bottom (1).png" alt="">
							</div>
							<ul class="main-particular-details-bottom-cencer">
								<li>记实</li>
								<li>人文</li>
								<li>摄影</li>
							</ul>

							<ul class="main-particular-details-bottom-right">
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (2).png" alt="">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (3).png" alt="">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (4).png" alt="">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (5).png" alt="">
									</a>
								</li>
							</ul>
					</div>
				</div>
			</div>
			<div class="main-left-particular">
				<div class="main-left-particular-head">
					<a href="javascript:;">
						<img src="/imgs/main-left-particular-head (3).png" alt="">
					</a>
				</div>
				<div class="main-left-particular-angle"></div>
				
				<div class="main-left-particular-details">
					<div class="main-particular-details-top">
						<h4>舒小简</h4>
						<a href="javascript:;">+</a>
					</div>
					<div style="height:246px;" class="main-particular-details-center">
						<div class="main-particular-details-center-left">
							<img src="/imgs/main-particular-details-center-left (3).png" alt="">
						</div>	

						<div class="main-particular-details-center-right">
							<h5>颠球的小男孩</h5>
						</div>	
					</div>
					<div class="main-particular-details-bottom">
							<div>
								<img src="/imgs/main-particular-details-bottom (1).png" alt="">
							</div>
							<ul class="main-particular-details-bottom-cencer">
								<li>记实</li>
								<li>人文</li>
								<li>摄影</li>
							</ul>

							<ul class="main-particular-details-bottom-right">
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (2).png" alt="">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (3).png" alt="">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (4).png" alt="">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (5).png" alt="">
									</a>
								</li>
							</ul>
					</div>
				</div>
			</div>
			<div class="main-left-particular">
				<div class="main-left-particular-head">
					<a href="javascript:;">
						<img src="/imgs/main-left-particular-head (4).png" alt="">
					</a>
				</div>
				<div class="main-left-particular-angle"></div>
				
				<div class="main-left-particular-details">
					<div class="main-particular-details-top">
						<h4>荥阳的力量</h4>
						<a href="javascript:;">+</a>
					</div>
					<div style="height:80px;" class="main-particular-details-center">
						<div class="main-particular-details-center-left">
							<img src="/imgs/main-particular-details-center-left (4).png" alt="">
						</div>	

						<div class="main-particular-details-center-right">
							<span style="margin-bottom:0;">
								生活是一面镜子,你对它笑,它就对你笑;你对它哭,它也对你哭。
							</span>
						</div>	
					</div>
					<div class="main-particular-details-bottom">
							<div>
								<img src="/imgs/main-particular-details-bottom (1).png" alt="">
							</div>
							<ul class="main-particular-details-bottom-cencer">
								<li>记实</li>
								<li>人文</li>
								<li>摄影</li>
							</ul>

							<ul class="main-particular-details-bottom-right">
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (2).png" alt="">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (3).png" alt="">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (4).png" alt="">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (5).png" alt="">
									</a>
								</li>
							</ul>
					</div>
				</div>
			</div>
			<div class="main-left-particular">
				<div class="main-left-particular-head">
					<a href="javascript:;">
						<img src="/imgs/main-left-particular-head (5).png" alt="">
					</a>
				</div>
				<div class="main-left-particular-angle"></div>
				
				<div class="main-left-particular-details">
					<div class="main-particular-details-top">
						<h4>chfh环球旅行</h4>
						<a href="javascript:;">+</a>
					</div>
					<div style="height:300px;" class="main-particular-details-center">
						<div class="main-particular-details-center-left">
							<img src="/imgs/main-particular-details-center-left (5).png" alt="">
						</div>	

						<div class="main-particular-details-center-right">
							<h5>塞维利亚皇宫</h5>
							<span>墙角的拾荒老人</span>
							<p style="margin-top:20px;margin-bottom:30px;">.................................</p>
							<span>我的环球行照片及故事，</span>
							<span>微信公众号：chalffychan</span>
							<span>新浪微博：chalffy_</span>
							<span style="margin-bottom:0;">Instagram: chalffychan</span>
						</div>	
					</div>
					<div class="main-particular-details-bottom">
							<div>
								<img src="/imgs/main-particular-details-bottom (1).png" alt="">
							</div>
							<ul class="main-particular-details-bottom-cencer">
								<li>记实</li>
								<li>人文</li>
								<li>摄影</li>
							</ul>

							<ul class="main-particular-details-bottom-right">
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (2).png" alt="">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (3).png" alt="">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (4).png" alt="">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (5).png" alt="">
									</a>
								</li>
							</ul>
					</div>
				</div>
			</div>
			<div class="main-left-particular">
				<div class="main-left-particular-head">
					<a href="javascript:;">
						<img src="/imgs/main-left-particular-head (6).png" alt="">
					</a>
				</div>
				<div class="main-left-particular-angle"></div>
				
				<div class="main-left-particular-details">
					<div class="main-particular-details-top">
						<h4>舒小简</h4>
						<a href="javascript:;">+</a>
					</div>
					<div style="height:200px;" class="main-particular-details-center">
						<div class="main-particular-details-center-left">
							<img src="/imgs/main-particular-details-center-left (6).png" alt="">
						</div>	

						<div class="main-particular-details-center-right">
							<h5>《分道扬镳》</h5>
							<span>摄于四川理塘县长青春科尔寺。</span>
							<p>.................................</p>
							<span style="margin-bottom:0;">看美景听故事，关注小简公众号：地理说（dilishuo）</span>
						</div>	
					</div>
					<div class="main-particular-details-bottom">
							<div>
								<img src="/imgs/main-particular-details-bottom (1).png" alt="">
							</div>
							<ul class="main-particular-details-bottom-cencer">
								<li>记实</li>
								<li>人文</li>
								<li>摄影</li>
							</ul>

							<ul class="main-particular-details-bottom-right">
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (2).png" alt="">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (3).png" alt="">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (4).png" alt="">
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<img src="/imgs/main-particular-details-bottom (5).png" alt="">
									</a>
								</li>
							</ul>
					</div>
				</div>
			</div>
			<!-- 左侧细节结束 -->
		</div>
		<!-- 左侧开始 -->

		<!-- 右侧开始 -->
		<div class="main-right">
			<ul class="main-right-top">
				<li>
					<a href="javascript:;">
						<span>
							<img src="/imgs/main-particular-details-bottom (1).png" alt="">
						</span>
						摄影
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<span>
							<img src="/imgs/main-particular-details-bottom (1).png" alt="">
						</span>
						记实
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<span>
							<img src="/imgs/main-particular-details-bottom (1).png" alt="">
						</span>
						黑白
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<span>
							<img src="/imgs/main-particular-details-bottom (1).png" alt="">
						</span>
						浪漫一夏
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<span>
							<img src="/imgs/main-particular-details-bottom (1).png" alt="">
						</span>
						色彩
					</a>
				</li>
					<li>
					<a href="javascript:;">
						<span>
							<img src="/imgs/main-particular-details-bottom (1).png" alt="">
						</span>
						街拍
					</a>
				</li>
				<li style="background: #E7E7E7;">
					<a href="javascript:;">
						<span>
							<img src="/imgs/main-particular-details-bottom (1).png" alt="">
						</span>
						发现更多标签
					</a>
				</li>
			</ul>
			<div class="main-right-center">
				<div class="main-right-center-top">
					<h5>始于人像摄影</h5>
					<span>176424参与</span>
				</div>
				<div class="main-right-center-center">
					<ul>
						<li style="margin-right:10px;">
							<a href="javascript:;">
								<img src="/imgs/main-particular-details-right (1).png" alt="">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/imgs/main-particular-details-right (2).png" alt="">
							</a>
						</li>
						<li style="margin-right:10px;">
							<a href="javascript:;">
								<img src="/imgs/main-particular-details-right (3).png" alt="">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="/imgs/main-particular-details-right (4).png" alt="">
							</a>
						</li>
					</ul>
				</div>
			</div>
			<ul class="main-right-top">
				<li style="background: #E7E7E7;">
					<a href="javascript:;">
						<span>
							<img src="/imgs/main-particular-details-right (5).png" alt="">
						</span>
						发现更多标签
					</a>
				</li>
			</ul>
		</div>
		<!-- 右侧开始 -->
	</main>
<!-- 主体结束 -->
<% include layouts/footer %>
