<% include layouts/header %>

<script src="/js/more.js"></script>
<link rel="stylesheet" href="/css/more.css">

<div class="zszwc zszwc1">
		<div class="zszwc_z1">
			<img src="/imgs/2017-10-08_220108.png" alt="">
		</div>
	</div>
	
	<div class="zszwc">
		<div class="qjauto qjauto1">
			<ul>
				<h3>QingCloud2018年招聘</h3>
				<button><a href="javascript:void(0);" onclick="js_method()">网申地址</a></button>
			</ul>
			<ul>
				<li><img src="/imgs/2017-10-08_221108.png" alt="">收藏</li>
				<li>企业性质: 私营.股份制企业</li>
				<li>行业: 大数据/云计算/网络安全</li>
				<div class="qcfd"></div>

				<li>评价: <img src="/imgs/2017-10-08_221358.png" alt="">0条</li>
			</ul>
			
		</div>
	</div>
	
	<div class="zszwc">
		<div class="qjauto dbxsbf">
			<h2>20418 QINGCLOUD•遇见秋季校园招聘</h2>
			<br>
			<p>遇•见———最酷的云计算服务商</p>
			<p>寻•找———有梦想，爱生活，好奇求知，张扬个性，拒绝平庸的你</p>
			<p>[这里有什么?]</p>
			<p>近身接触全球最顶尖企业科技创新提供IT动力</p>
			<p>同聪明有趣的同时搞笑合作</p>
			<p>承担重要的使命与职责</p>
			<p>在开放，自由，有爱的环境中，以最舒服的姿势快速成长，</p>
			<p>预见，QingCloud</p>
			<p>预见，未来的你。</p>
			<br>
			<br>
			<p>一下岗位有你选:</p>
			<p>研发类，销售类,技术支持类，起到类，市场类</p>
			<p>一下工作地点，等你来：</p>
			<p>武汉，北京，上海，深圳，广州</p>
			<br>
			<br>
			<p>校招流程:</p>
			<p>网申(9.2-10.15) --空中宣讲(9.21) --现场宣讲 (10.11) --笔试 (10.11) --面试 10月--录用 10月</p>
			<p>效招活动安排</p>
			<p>空中宣讲  9月21日晚上7:00, 带你了解真时的QingClouder.</p>
			<p>现场宣讲  10月11日晚上7:00, 武汉理工大学，期待与你的现场互动!</p>
			<div class="xzsbf">
				<ul>
					<img src="/imgs/2017-10-09_092223.png" alt="">
					<p>&nbsp;&nbsp;&nbsp;hi,小助手提醒你查看</p>
				</ul>
				<ul>
					<li>
						<img src="/imgs/2017-10-09_092826.png" alt="">
						&nbsp;
						<p>0</p>
						<p>今日新发职位</p>
					</li>
					<li>
						<img src="/imgs/2017-10-09_092842.png" alt="">
						&nbsp;
						<p>1595</p>
						<p>即将结束项目</p>
					</li>
					<li>
						<img src="/imgs/2017-10-09_092852.png" alt="">
						&nbsp;
						<p>0</p>
						<p>名企邀请信</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="zszwc">
		<div class="qjauto dbxsbf dbxsbf1">
			<h3>参与者分析<p>(已有9361人参与该校园招聘项目)</p></h3>
			<br>
			<hr>
			<ul>
				<p>学校分布:(人)</p>
				<br>
				<li>武汉理工大学<img src="/imgs/2017-10-09_095231.png" alt="">181</li>
				<li>广东工业大学<img src="/imgs/2017-10-09_095231.png" alt="">181</li>
				<li>华中科技大学<img src="/imgs/2017-10-09_095231.png" alt="">181</li>
				<li>西安电子科技大学<img src="/imgs/2017-10-09_095231.png" alt="">181</li>
				<li>南京邮电大学<img src="/imgs/2017-10-09_095231.png" alt="">181</li>
			</ul>
			<ul>
				<p>学校分布:(人)</p>
				<br>
				<li>武汉理工大学<img src="/imgs/2017-10-09_095231.png" alt="">181</li>
				<li>广东工业大学<img src="/imgs/2017-10-09_095231.png" alt="">181</li>
				<li>华中科技大学<img src="/imgs/2017-10-09_095231.png" alt="">181</li>
				<li>西安电子科技大学<img src="/imgs/2017-10-09_095231.png" alt="">181</li>
				<li>南京邮电大学<img src="/imgs/2017-10-09_095231.png" alt="">181</li>
			</ul>
		</div>
	</div>
	
<% include layouts/footer %>